body {
  background-color: #121213;
}

.gameStatus {
  margin-bottom: 20px;
  color: white;
  text-align: center;
  font-size: 30px;
  padding-top: 20px;
}

.gameBoard {
  padding-left: 40%;
  padding-bottom: 20px;
}

.gameKeyboard{

}

.gameKeyboardRow1{
  padding-left: 34.5%;
  padding-top: 5px;
}

.gameKeyboardRow2{
  padding-left: 36%;
  padding-top: 5px;
}

.gameKeyboardRow3{
  padding-left: 34.5%;
  padding-top: 5px;
}

td {
  background: #121213;
  border: 2px solid #3a3a3c;
  color: white;
  font-size: 30px;
  text-align: center;
  width: 50px;
  height: 50px;
}


.keyboardButton {
  background: #818384;
  border: 3px solid #3a3a3c;
  color: white;
  border-radius: 20%;
  font-size: 20px;
  font-weight: bold;
  margin-right: 3px;
  text-align: center;
  width: 45px;
  height: 45px;    
}

.keyboardButtonCheck {
  background: #818384;
  border: 3px solid #3a3a3c;
  color: white;
  border-radius: 20%;
  font-size: 15px;
  font-weight: bold;
  margin-right: 3px;
  text-align: center;
  width: 75px;
  height: 45px;    
}

.keyboardButtonDelete {
  background: #818384;
  border: 3px solid #3a3a3c;
  color: white;
  border-radius: 20%;
  font-size: 20px;
  font-weight: bold;
  margin-right: 3px;
  text-align: center;
  width: 75px;
  height: 45px;    
}
